*{
    margin: 0px;
    padding: 0px;
    div{
        border: 2px solid red;
    }
}
.main{
    max-width: 900px;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.top{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
}
.ttop{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tbot{
    flex: 1;
    display: flex;
}
.mid{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.m1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 8%;

}
.m111{
    flex: 1;
    display: flex;
    border: none;
}
.img1{
    height: 100%;
    width: 100%;
}
.m112{
    flex: 1;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 5px;
}
.m113{
    flex:1;
    display: flex;
    border: none;
    gap: 5px;

}
.m114{
    flex:1;
    display: flex;
    border: none;
    gap: 5px;
}
.m115{
    flex: 1;
    display: flex;
    border: none;
    gap: 5px;
}


.m2{
    flex: 1;
    display: flex;
}
.m3{
    flex: 1;
    display: flex;
}
.m4{
    flex: 1;
    display: flex;
}
.bottom{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;

}
.b1{
    height: 20px;
    width: 150px;
    border-radius: 10px;
}
.b1:hover{
    background-color: rgb(138, 96, 177);
}