*{
    margin: 0px;
    padding: 0px;
    div{
        
    }
}   
.main{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.top{
    
    display: flex;
    flex-direction: column;
}
.ttop{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.tbot{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.mid{
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: none;
}
.m1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    gap: 4px;
    border: 1px solid rgb(236, 233, 233);
    margin-left: 20px;
    
}
.m111{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.img1{
    height: 49%;
    width: 30%;
}
.m112{
    flex: 1;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: none;
    align-items: center;
    justify-content: center;
}
.m113{
    flex:1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;

}
.m114{
    flex:1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.m115{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}


.m2{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 4px;
     border: 1px solid rgb(236, 233, 233);
}
.m21{
    flex: 1;
    display: flex;
    border:none;
    align-items: center;
    justify-content: center;
}
.img2{
    height: 49%;
    width: 30%;
}
.m22{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.m23{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.m24{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}

.m3{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
     border: 1px solid rgb(236, 233, 233);
}
.m31{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.img3{
   height: 49%;
    width: 30%;
}
.m32{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
     border: none;
     font-weight: bold;
}
.m33{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
     border: none;
}
.m34{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
     border: none;
}
.m4{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 4px;
    border: 1px solid rgb(236, 233, 233);
    margin-right: 10px;
}
.m41{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.img4{
  height: 49%;
    width: 30%;
}
.m42{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: bold;
}
.m43{
    flex: 1;
    display: flex;
     align-items: center;
    justify-content: center;
    border: none;
}
.m44{
    flex: 1;
    display: flex;
     align-items: center;
    justify-content: center;
    border: none;
}
.bottom{
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px;

}
.b1{
    height: 20px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(153, 153, 238);
}
.b1:hover{
    background-color: rgb(138, 96, 177);
}