*{
    margin: 0px;
    padding: 0px;
    div{
        
    }
}   
.main{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.top{
    
    display: flex;
    flex-direction: column;
}
.ttop{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: sans-serif;
}
.tbot{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.mid{
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: none;
    flex-wrap: wrap;
}
.m1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    gap: 1px;
    border: 1px solid rgb(236, 233, 233);
    margin-left: 10px;
    margin-right: 10px;
    height: 29vh;
    padding: 5px;
}
.m1:hover{
    background: #faf8f8;
    box-shadow:0px 4px rgb(233, 228, 228);
}
.m111{
    flex: 3;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.img1{
    height: 70px;
    width: 70px;
}
.m112{
    flex: 1;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: none;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.m113{
    flex:1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.m2{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 4px;
     border: 1px solid rgb(236, 233, 233);
     margin-right: 10px;
     margin-left: 10px;
      height: 29vh;
       padding: 5px;
}
.m2:hover{
    background: rgb(250, 248, 248);
     box-shadow:0px 4px rgb(233, 228, 228);
}
.m21{
    flex: 3;
    display: flex;
    border:none;
    align-items: center;
    justify-content: center;
}
.img2{
     height: 70px;
    width: 70px;
}
.m22{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
}
.m23{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.m3{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
     border: 1px solid rgb(236, 233, 233);
     margin-right: 10px;
     margin-left: 10px;
      height: 29vh;
       padding: 5px;
}
.m3:hover{
    background: rgb(250, 248, 248);
     box-shadow:0px 4px rgb(233, 228, 228);
}
.m31{
    flex: 3;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.img3{
    height: 70px;
    width: 70px;
}
.m32{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
     border: none;
     font-weight: bold;
     font-family: sans-serif;
}
.m33{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
     border: none;
     flex-direction: column;
}

.m4{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 4px;
    border: 1px solid rgb(236, 233, 233);
    margin-right: -5px;
    margin-left: 10px;
     height: 29vh;
      padding: 5px;
}
.m4:hover{
    background: rgb(250, 248, 248);
    box-shadow:0px 4px rgb(233, 228, 228);
}
.m41{
    flex: 3;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.img4{
  height: 70px;
  width: 70px;
}
.m42{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: bold;
    font-family: sans-serif;
}
.m43{
    flex: 1;
    display: flex;
     align-items: center;
    justify-content: center;
    border: none;
    flex-direction: column;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.b1{
    display: flex;
    border-radius: 10px;
    height: 7vh;
    width: 188px;
    background-image: linear-gradient(45deg,blue,rgb(236, 3, 217));
}
.b1:hover{
    box-shadow: inset 0px 0px 15px 2px rgb(88, 86, 86);
}
.b1l{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}
.b1r{
    flex: 1;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.img5{
    height: 4vh;
}