* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.profile-wrapper {
  height: 100vh;
  background: #f2f3f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  width: 850px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
}

.profile-header {
  height: 130px;
 background-image: linear-gradient(45deg,blue,rgb(236, 3, 217));
}
.avatar {
  width: 90px;
  height: 90px;
  background: #eee;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  color: #2f6df6;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.profile-info {
  text-align: center;
  margin-top: 60px;
}

.profile-info h2 {
  font-weight: 600;
}

.profile-info .email {
  color: gray;
  margin-top: 5px;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px 40px;
}

.detail-box {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 18px;
  background: #fafafa;
}

.detail-box.role {
  grid-column: span 1;
}

.label {
  font-size: 13px;
  color: gray;
}

.detail-box p {
  margin-top: 6px;
  font-weight: 500;
}

.btn-area {
  display: flex;
  justify-content: flex-end;
  padding: 0 40px;
}

.edit-btn {
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 500;
background-image: linear-gradient(45deg,blue,rgb(236, 3, 217));
  transition: 0.3s;
}

.edit-btn:hover {
  opacity: 0.7;
}